@import 'semantic';

/* My Styles */
img {
    height: 600px;
    width: 400px;
}
body {
    background: lightgray;
    line-height: 1.6em;
}
i {
    margin: 0em 1.25rem 0em .5em;
    color: darkturquoise;
    padding-left: 1.5em;
}